.burger-icon {
  color: #fff;
}

.copy-icon:hover {
  color: blue;
}


.burger-icon:hover {
  color: #000;
}


.footer-nav-link {
  color: #fff;
}

.footer-nav-link:hover {
  color: #000;
}
.unit-category {
  width: 100px;
  height: 100px;
  background-color: #FFFFFF;
  overflow: visible;

}

.unit-option {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  height: 100px;
  border: 1px solid #000; 
  text-align: center;
}




.switch-units-div {
  width: 60px;
  height: 60px;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 32px;
}

.switch-units-div:hover {
  animation: switch-units-scale-up-anim 0.15s ease-in-out forwards, switch-units-colour-focus-anim 0.15s ease-in-out forwards, switch-units-rotate-forward-anim 0.6s ease-in-out forwards;
}

.switch-units-div:not(:hover) {
  animation: switch-units-scale-down-anim 0.15s ease-in-out forwards, switch-units-colour-unfocus-anim 0.15s ease-in-out forwards, switch-units-rotate-backward-anim 0.6s ease-in-out forwards;
}

.footer {
 
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: #08a126;
  color: #fff;
  z-index: -1;
  
  
}
  
#github-text-link-large {
  color: #fff;
}

#github-text-link-large:hover {
  color: #000;
}

#github-text-link-small {
  color: #000;
}

#github-text-list-link-small {
  color: #000;
}

#linkedin-text-list-link-small {
  color: #000;
}
                                                                                                                
.unit-category-options {
  background-color: #D9D9D9;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
 
}


@media screen and (min-width: 1200px) {
  .unit-category-options {
    background-color: #D9D9D9;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px)  {
  .icon-large-devices {

    display: block;
  }

  .icon-small-devices {
    display: none;

  }
  .from-convert-div-box-large {
    background-color: #03c10c;
    box-shadow: 2px 2px 2px 2px #0000002e;
    width: 75%;
  }
  
  .to-convert-div-box-large {
  
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #0000002e;
    width: 75%;
  }
  
  
  .from-div-title-box-large {
    height: 80px; 
    background-color: #03c10c;
    color: #fff;
    font-size: 30px;
  
    
  }
    
  .to-div-title-box-large {
    height: 80px;
    background-color: #fff;
    color: #000;
    font-size: 30px;
  }

  .from-section-large {
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px #000000b4;
  }

  .from-section-large input {
    background-color: #03c10c;
    color: #fff;
    border: 0px solid;
    border-bottom: 1px solid #fff;
    font-size: 25px;
  }

  .from-section-large select {
    background-color: #03c10c;
    color: #fff;
    font-size: 20px;
    width: 25%;
  }





  .to-section-large {
    box-shadow: 5px 5px 5px 5px #0000002e;
  }

  .to-section-large input {
    background-color: #fff;
    color: #000;
    border: 0px solid;
    border-bottom: 1px solid #000;
    font-size: 25px;

  }

  .to-section-large select {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    width: 25%;
  }

  .unit-details-large-div input {
    width: 50%;
    margin-right: 60px;
  }

  .dropdown-styling {
    width: 50%;
    height: 100px;
    border: 0px solid;
  }

  .unit-details-large-div {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px #0000005c;
    z-index: 0;
  }

  .unit-details-small-div {
    display: none;
  }



  .from-title-separator-large {
    width: 60%;
    height: 1px;
    background-color: #fff;
    margin-top: 10px;
  }

  .to-title-separator-large {
    width: 60%;
    height: 1px;
    background-color: #000;
    margin-top: 10px;
  }

  .from-section-bg-large {
    background-color: #fff;
  }

  .to-section-bg-large {
    background-color: #03c10c;
  }


  
  .navbar-div {
    background-color: #08a126;
    height: 120px;
    font-size: 1px;
   box-shadow: 0 3px 2px #00000045;
    margin-bottom: 5px;
    z-index: 1;
  }

  .navbar-text {
    font-size: 45px;
    color: #FFFFFF !important;
  
  }

  .from-to-unit-options {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

.unit-details-large-div {
    width: 100%;
    display: flex;
    justify-content: center;
  
  }


  .mobile-br-elems {
    display: none;
  }

  .dropdown-styling {
    width: 20px;
    height:  100px;
  }

  .larger-br-elems {
    display: block;
  }




}

@media screen and (max-width: 1023px) {

.from-section-styles {
    background-color: #fff;
  }

.from-section-styles input {
  background-color: #fff;
  color: #000;
  border: 0px solid;
  border-bottom: 1px solid #000;
  font-size: 1.4em;
}

.from-section-styles select {
  background-color: #fff;
  color: #000;
  font-size: 1.2em;
}
  .navbar-text {
    font-size: 30px;
    color: #FFFFFF !important;
  }

  .navbar-div {
    background-color: #08a126;
    height: 120px;
    font-size: 1px;
    box-shadow: 0 3px 2px #00000045;
    margin-bottom: 5px;
  }
  .to-section-styles {
    background-color: #03c10c;
    color: #fff;
  }

  .to-section-styles input {
    background-color: #03c10c;
    color: #fff;
    border: 0px solid;
    border-bottom: 1px solid #fff;
    font-size: 1.4em;
  }

  .to-section-styles select {
    background-color: #03c10c;
    color: #fff;
    font-size: 1.2em;
  }

  .unit-details-div {
    display: flex;
    justify-content: center;
    
  }



  .switch-units-div {
    display: flex;
    justify-content: center;
  }

  .mobile-br-elems {
    display: block;
  }

  .dropdown-styling {
    width: 100%;
    height:  80px;
  }

  .larger-br-elems {
    display: none;
  }

  .footer {
    display: none;
  }

  .unit-details-large-div {
    display: none;
  }

  .unit-details-small-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .unit-details-small-div input {
    width: 50%;
    margin-right: 20px;
  }

  .dropdown-styling {
    width: 50%;
    height: 100px;
    border: 0px solid;
  }

}



/* Animations */

@keyframes switch-units-scale-up-anim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes switch-units-scale-down-anim {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes switch-units-scale-up-down-anim {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1)
  }
}

@keyframes switch-units-colour-focus-anim {
  from {
    background-color: #D9D9D9;
    color: #000;
  }
  to {
    background-color: blue;
    color: #fff;
    
  }
}

@keyframes switch-units-colour-unfocus-anim {
  from {
    background-color: blue;
    color: #fff;
  }
  to {
    background-color: #d9d9d9;
    color: #000;
    
  }
}

@keyframes switch-units-rotate-forward-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes switch-units-rotate-backward-anim {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* @keyframes switch-units-font-anim {
  from {
    font-size: 32px;
  }

  to {
    font-size: 32px;
  }
} */